@font-face {
    font-family: "Raleway" ;
    src: url(./Raleway/Raleway-VariableFont_wght.ttf) format('truetype'),
         url(./Raleway/static/Raleway-Bold.ttf) format('truetype');
    }

    * {
        box-sizing: border-box;
    }
    body{
        
        font-family: "Raleway", sans-serif;
        margin: 0;
        padding-top: 50px; 
        
        padding-left: 3.47%;
        padding-right: 3.47%;
        }


/* Header */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

nav div {
        display: flex;        
    }

nav div ul {
            display: flex;
            list-style: none;
    }

nav div p {
            color: #0065FC;
            padding-left: 35px;            
            font-family: "Raleway-Bold", sans-serif;
            font-weight: bold;
    }   

    /* Apparance des liens */

.liens:link {
            color: black;
            text-decoration:none; 
            padding-top: 65px;
            padding-left: 35px;
            padding-right: 35px;
            
    }

.liens:hover {
            color: #0065FC;
            border-width:2px 0px 0px 0px;
            border-style:solid;
            border-color:#0065FC;
            padding-top: 64px;
            
    }
/* Section recherche de location */
    
.recherche h1{
        font-family: "Raleway-Bold", sans-serif;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 10px;
}
.recherche p{
    margin: 0px;
}
.recherche header{
    margin-bottom: 20px;
}

.formulaire {
    display: flex;
    justify-content:flex-start;
    width: 29,17%;
    height: 50px;
      }

/* Icones filtres */
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{    
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%; 
        font-size: 18px;  
        height: 50px;
        width: 50px;
        padding-top: 16px;
        padding-left: 14px
    }
    .fa-child{
        padding-top: 16px;
        padding-left: 18px 
    }
    .fa-heart{
        padding-top: 17px;
        padding-left: 16px 
    }



 /* Icone position */
.fa-map-marker-alt {
        border-radius: 15px 0px 0px 15px;
        color: #060a0f;
        background-color: #F2F2F2;
        font-size: 18px;
        width: 50px;
        height: 50px;
        padding: 17px 20px; 
    }
    
.zone {
    padding: 18px 70px 18px 18px;
    line-height: 50px;
    width: 235px;
    border-radius: 0px;
    border: none;
    border-top : 1px  solid #F2F2F2;
    border-bottom : 1px  solid #F2F2F2;
    font-size: 18px;
    font-family: "Raleway", "Sans serif";
    color: black;
}

::placeholder{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
    color: black;
    font-weight:700;
    
}
/* bouton recherche */
.formulaire button{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    color: #eeeeee;
    font-size: 18px;
    width: 135px;
    height: 50px;
    cursor: pointer;
    
}
/* Filtres */

.filtres {
    display: flex;
    justify-content:left;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 35px;
}

.filtres-liste{
    
    display: flex;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
}

.filtre-unique {
    border-top: solid 2px  #F2F2F2;
    border-right: solid 2px  #F2F2F2;
    border-bottom: solid 2px  #F2F2F2;
    border-left: solid 0px  #F2F2F2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    margin-left: 1.87% ;
    
}


.filtre-unique:hover{
    border-top: solid 2px  #F2F2F2;
    border-right: solid 2px  #F2F2F2;
    border-bottom: solid 2px  #F2F2F2;
    border-left: solid 0px  #F2F2F2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    margin-left: 1.87%;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
    transform: scale(1.1);
    

}
.filtre-unique p{
    padding-left: 20px;
    padding-right: 20px ; 
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
}
/* Icone information */
.fa-info {
    color: #0065FC;
    background-color: transparent;
    border-radius: 100%; 
    border: solid 1px #F2F2F2;
    font-size: 12px;  
    height: 25px;
    width: 25px;
    padding-top: 5px; ;
    padding-left: 9px ;
    }

.info {
    
    display: flex;
    align-items: center;
    margin-bottom: 40px ;
    }
.info p{
    margin-left: 12px;
}

/* Sections Hébergements */
.liens2:link{
    text-decoration:none; 
    font-style: red;

}

.prix-gras{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;

}
.hebergements{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 625px;
    margin-bottom: 65px;
}

.hebergements-principaux {

    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65.67%;
    height: 625px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;   
}


.hebergements-principaux h2 {
    margin-top: 0px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;

}

.hebergements-principaux > p {
    margin-top: 0px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
}


.hebergements-principaux-articles {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 800px;
    height: 430px;
    background-color: #F2F2F2;
    margin-bottom: 40px;
    
}

.hebergements-principaux-articles-indi {

    display: flex;
    flex-direction: column;
    background-color:white;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 15px #000000;
}

.hebergements-principaux-articles-indi:hover {
    display: flex;
    flex-direction: column;
    background-color:white;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 15px #000000;
    transform: scale(1.05);
}

.hebergements-principaux-articles-indi img {
    
    width: 235px;
    height: 115px;
    border-radius: 20px 20px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 12px;
    object-fit: cover;

}

.hebergements-principaux-articles-indi h3 {
    margin: 0;
    font-size: 16px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
}

.hebergements-principaux-articles-indi p {
    margin: 0;
    font-size: 14px;
}

.hebergements-principaux-articles-indi-description {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    padding-left: 16px;
    margin: 0;
}

.hebergements-principaux-articles-indi-etoiles {

}
/* Hébergements populaires */

.hebergements-populaires {
    
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;  
    width: 420px;
    /*31.34%; */
    height: 625px;
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 40px;   
    padding-bottom: 35px;
     
 }
 

.hebergements-populaires h2 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;

}
.hebergements-populaires-articles h3{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
}

.hebergements-populaires > p {
    margin-top: 0px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
}


.hebergements-populaires-articles {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    background-color: #F2F2F2;
    
    
}
.hebergements-populaires-articles-indi {

    display: flex;
    align-items: center;
    background-color:white;
    height: 145px;
    border-radius: 20px;
    padding-right: 50px;
    box-shadow: 0 0 15px #000000;
}
.hebergements-populaires-articles-indi:hover {

    display: flex;
    align-items: center;
    background-color:white;
    height: 145px;
    border-radius: 20px;
    padding-right: 50px;
    box-shadow: 0 0 15px #000000;
    transform: scale(1.05);
}
.hebergements-populaires-articles-indi img {
    
    width: 125px;
    height: 145px;
    border-radius: 20px 0 0 20px;
    padding: 5px 0px 5px 5px;
    object-fit: cover;

}


.hebergements-populaires-articles-indi h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 12px;
}

.hebergements-populaires-articles-indi p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 35px;
    
}

.hebergements-populaires-articles-indi-description {   
    display: flex;
    flex-direction: column;
    height: 110px;
    padding-left: 16px;
    margin: 0;
    
}

p.hebergements-populaires-articles-indi-etoiles {
    margin:0;
}


.fa-star{
    background-color: transparent;
    font-size: 12px;
    color: #0065FC;
}
.etoile-grise { 
    background-color: transparent;
    font-size: 12px;
    color: #080b10;
}

/* Activités */

.activites {
    width: 100%;
    margin-bottom: 60px;
}
.activites h2{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
}



.activites-articles{
    display: flex;
    justify-content: space-between;
    
}
.activites-articles h3{
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
    font-size: 15px;
}


.activites-articles-long{
    width: 300px;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0 0 15px #000000;
 
}
.activites-articles-long:hover{
    width: 300px;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0 0 15px #000000;
    transform: scale(1.05);
}


.activites-articles-long > img{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
    
}

.activites-articles-semilong-court{
    width: 300px;
    height: 445px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.activites-articles-semilong{
    width: 300px;
    height: 240px;
    box-shadow: 0 0 15px #000000;
    border-radius: 20px;
    
}
.activites-articles-semilong:hover{
    width: 300px;
    height: 240px;
    box-shadow: 0 0 15px #000000;
    border-radius: 20px;
    transform: scale(1.05);
}

.activites-articles-semilong img{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;

}

.activites-articles-court {
    width: 300px;
    height: 165px; 
    box-shadow: 0 0 15px #000000;
    border-radius: 20px;
}

.activites-articles-court:hover {
    width: 300px;
    height: 165px; 
    box-shadow: 0 0 15px #000000;
    border-radius: 20px;
    transform: scale(1.05);
}

.activites-articles-court img {
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
    
    
}
.activites-articles-court-semilong {
    width: 300px;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
/* Pied de page */

.pied-de-page{
    background: #F2F2F2;
    display: flex;
    padding-bottom: 50px;
    padding-left: 0;
}
.pied-de-page h3{
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 600;
    margin-top: 50px;

}
.a-propos{
    margin-right: 225px;
}
.nos-hebergements{
    margin-right: 290px;
}
.assistance{

}